* {
    font-size: 10px;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

    margin-top: 0.6rem;
    margin-bottom: 2.4rem;
    padding: 0rem;
    gap: 2.5rem;
}

.write-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    gap: 2.5rem;
}

.text-block, .disclaimer-text-block,
ol, 
li {
    font-size: 2.2rem;
    margin: 0rem;
    line-height: 3rem;
    font-weight: 400;
}

.disclaimer-text-block {
    font-style: italic;
    text-align: center;
}

.text-block:link {
    /* text-decoration: none; */
}

.image {
    width: 80%;
    border: 0.5px solid black;
}

.intro-header {
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    padding: 0rem;
    text-align: center;
}

.video-header, .write-up-header, .disclaimer-header {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: -1.8rem;
    /* text-decoration-line: underline; */
}

.demo-video {
    border: 0.57px solid black;
    margin-top: 0.5rem;
}

.video-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.video-wrapper {
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.video-wrapper video {
    width: 100%;
    height: 100%;
}

.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1rem;
}

.caption {
    font-size: 1.3rem;
    font-weight: 500;
}